<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(125, 116, 206);" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/home">Mail</a>
      </div>
    </div>
  </nav>
  <br>

  <div class="container">
    <form class="col-lg-6" method="post" action="/mailer" onsubmit="return check();">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="mail" name="email" oninput="return check();" aria-describedby="emailHelp">
        <label for="error" id="error"></label>
      </div>
      <button type="submit" class="btn btn-primary">Send Email</button>
    </form>
  </div>

    
    <script src="js/bootstrap.min.js"></script>
    <script src="js/home.js"></script>
</body>
</html>